/*
 * Ads
 */
.ad-728 {
  float: right;
  width: 728px;
  margin-top: 28px;
}
.ad-728 .widget {
  margin: 0;
}
.widget.acm_ad_zones {
  background-color: transparent;
}
.widget_doubleclick_widget {
  text-align: center;
}
